{% extends 'FrontBundle::layout.html.twig' %}

{% block title %}NETVIRALPRO{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="content">
                <div class="col-md-8">
                    <div id="normalportfolio" class="row portfolio four-col-portfolio-wrapper">
                        <div class="gallery-item item-w1 item-h1 cat1">

                                <h1 class="title"><a href="#">{% trans %}Hive Matrix{% endtrans %}</a></h1>
                                <hr class="titlehr">

                            <small><a href="#">{% trans %}Empieza tu negocio online ahora mismo!{% endtrans %}</a></small>

                            <div class="media-element">
                                <div>
                                    <img src="{{ asset('bundles/front/img/1J.png') }}" alt=""
                                         class="img-responsive">
                                </div>
                            </div><!-- end media -->

                            <div class="gallery-desc-full big-gallery">
                                <p>{% trans %}<strong>Hive Matrix</strong> ha sido diseñado para personas que quieran empezar a generar dinero a través de su propio negocio online. Es el producto de registro  en nuestra empresa. Cualquier usuario que quiera empezar a generar beneficio económico, tendrá que tener activado este producto. Para adquirir nuevos productos, será necesario tener activado su Hive Matrix. Una vez activo, empezará  a obtener beneficios económicos de su red de trabajo.{% endtrans %} </p>
                                <a href="#" class="btn btn-primary">{% trans %}Registrate Ahora{% endtrans %}</a>
                            </div>
                        </div><!-- item -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="pricing-box-09 white-style">
                            <div class="pricing-box-09-head">
                                <div class="ribbon-wrapper-pt1">
                                    <div class="ribbon-pt1">{% trans %}Anual{% endtrans %}</div>
                                </div>
                                <h3><sup>$</sup>19.95</h3>
                                <h4>{% trans %}Una vez adquiera Hive Matrix, tendrá  acceso a:{% endtrans %}</h4>
                            </div>
                            <!-- end pricing-box-09-head -->

                            <div class="pricing-box-09-body">
                                <ul>
                                    <li><p>{% trans %}Descargar nuestro fichero de páginas de aterrizaje de distintos nichos y otros productos que podrá editar o revender usted.</p>{% endtrans %}</li>
                                    <li><p>{% trans %}A través de nuestro fichero Business Card, podrá crear su propia tarjeta de negocio con la que dará un mayor sentido de profesionalidad a sus clientes.</p>{% endtrans %}</li>
                                    <li><p>{% trans %}Tener su propio calendario y agenda personal para organizar sus tareas y reuniones.</p>{% endtrans %}</li>
                                    <li><p>{% trans %}Comunicarse con todos los usuarios que usted  ha registrado al sistema a través de mensajería privada.</p>{% endtrans %}</li>
                                    <li><p>{% trans %}Tener su propia página personal donde podrá promocionar su propio negocio online.</p>{% endtrans %}</li>
                                    <li><p>{% trans %}Tendrá acceso al banco de imágenes de la empresa que le ayudará a promocionar su propio negocio Netviralpro.</p>{% endtrans %}</li>
                                </ul>
                            </div>
                            <!-- end pricing-box-09-body -->

                            <div class="pricing-box-09-foot">
                                <a href="#" class="btn btn-primary btn-block">{% trans %}Ordenalo Ahora{% endtrans %}</a>
                            </div>
                            <!-- end pricing-box-09-foot -->
                        </div>
                        <!-- end pricing-box-09 -->
                    </div>
                </div>
            </div><!-- end content -->
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="section messagesection biggermessage colorrizedmessage color10">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>{% trans %}¡Y lo más importante de todo!{% endtrans %}</h3>
                    <p class="lead">{% trans %}Tras la activación de Hive Matrix podrá empezar a generar importantes sumas de dinero online. ¿A que está esperando?{% endtrans %}</p>
                </div>
                <div class="col-md-4 text-center">
                    <a href="#" class="btn btn-primary btn-lg border-radius"><i class="fa fa-check"></i>{% trans %} Registrate{% endtrans %}</a>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->

{% endblock %}