{% extends 'FrontBundle::layout.html.twig' %}

{% block title %}NETVIRALPRO{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="content">
                <div class="col-md-8">
                    <div id="normalportfolio" class="row portfolio four-col-portfolio-wrapper">
                        <div class="gallery-item item-w1 item-h1 cat1">

                            <h1 class="title"><a href="#">{% trans %}Win Formula{% endtrans %}</a></h1>
                            <hr class="titlehr">

                            <small><a href="#">{% trans %}Ten acceso a los mejores softwares de maketing del mercado!{% endtrans %}</a></small>

                            <div class="media-element">
                                <div>
                                    <img src="{{ asset('bundles/front/img/3J.png') }}" alt=""
                                         class="img-responsive">
                                </div>
                            </div><!-- end media -->

                            <div class="gallery-desc-full big-gallery">
                                <p>{% trans %}Mediante el registro a <strong>Win Formula</strong>, tendrá acceso a los mejores softwares de marketing online del mercado, los cuales le ayudarán a llevar su negocio online a límites inimaginables.
                                    Según algunos de nuestros clientes más importantes, la adquisición de Win Formula le ayudará a multiplicar por 10 el crecimiento de su propio negocio online.
                                    ¿Quien dijo que no era posible?
                                    {% endtrans %} </p>
                                <a href="#" class="btn btn-primary">{% trans %}Comprar{% endtrans %}</a>
                            </div>
                        </div><!-- item -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="pricing-box-09 white-style">
                            <div class="pricing-box-09-head">
                                <div class="ribbon-wrapper-pt1">
                                    <div class="ribbon-pt1">{% trans %}Anual{% endtrans %}</div>
                                </div>
                                <h3><sup>$</sup>349 USD</h3>
                            </div>
                            <!-- end pricing-box-09-head -->

                            <div class="pricing-box-09-body">
                            </div>
                            <!-- end pricing-box-09-body -->

                            <div class="pricing-box-09-foot">
                                <a href="#" class="btn btn-primary btn-block">{% trans %}Ordenalo Ahora{% endtrans %}</a>
                            </div>
                            <!-- end pricing-box-09-foot -->
                        </div>
                        <!-- end pricing-box-09 -->
                    </div>
                </div>
            </div><!-- end content -->
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="section messagesection biggermessage colorrizedmessage color10">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>{% trans %}¡ DISFRUTE DE ESTE PRODUCTO POR SÓLO 349 USD ANUALES !{% endtrans %}</h3>
                </div>
                <div class="col-md-4 text-center">
                    <a href="#" class="btn btn-primary btn-lg border-radius"><i class="fa fa-check"></i>{% trans %} Comprar{% endtrans %}</a>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->

{% endblock %}